.statistics {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  color: rgb(92, 91, 91);
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 1px 2px 5px 0px rgba(85, 85, 85, 0.75);
  text-align: center;
}

.title {
  color: black;
}

.statList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin: 0;
}

.item {
  padding-bottom: 10px;
  width: 100%;
  border-right: 1px solid rgb(122, 122, 122);
  border-top: 1px solid rgb(122, 122, 122);
  background-color: rgb(172, 172, 172);
}

.item:last-child {
  border-right: none;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}

.percentage {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
